# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env/
.venv/
env/
ENV/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Flask instance folder
instance/

# Logs
*.log
